In [20]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer,MissingIndicator

In [21]:
df=pd.read_csv('train.csv',usecols=['Age','Fare','Survived'])

In [22]:
df.sample(5)

     Survived   Age   Fare
256         1   NaN  79.20
121         0   NaN   8.05
783         0   NaN  23.45
594         0  37.0  26.00
673         1  31.0  13.00

In [23]:
X=df.drop(columns=['Survived'])
y=df['Survived']

In [24]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

In [25]:
X_train.head()

      Age     Fare
30   40.0  27.7208
10    4.0  16.7000
873  47.0   9.0000
182   9.0  31.3875
876  20.0   9.8458

In [10]:
si=SimpleImputer()
X_train_trf=si.fit_transform(X_train)
X_test_trf=si.transform(X_test)

In [13]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(X_train_trf,y_train)
y_pred=lr.predict(X_test_trf)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.6145251396648045

In [14]:
mi=MissingIndicator()
mi.fit(X_train)

MissingIndicator()

In [16]:
X_train_missing =mi.transform(X_train)
X_test_missing =mi.transform(X_test)

In [18]:
X_train['Age_na']=X_train_missing
X_test['Age_na']=X_test_missing
X_train.sample(5)

      Age      Fare  Age_na
528  39.0    7.9250   False
240   NaN   14.4542    True
94   59.0    7.2500   False
742  21.0  262.3750   False
746  16.0   20.2500   False

In [19]:
si=SimpleImputer()
X_train_trf1=si.fit_transform(X_train)
X_test_trf1=si.transform(X_test)
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(X_train_trf1,y_train)
y_pred1=lr.predict(X_test_trf1)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred1)

0.6312849162011173

In [26]:
si=SimpleImputer(add_indicator=True)
X_train_trf2=si.fit_transform(X_train)
X_test_trf2=si.transform(X_test)
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(X_train_trf2,y_train)
y_pred2=lr.predict(X_test_trf2)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred2)

0.6312849162011173